*{
    margin: 0;
}

body{
    display: block;
}

div{
    width: 200px;
    height: 100px;
}
nav{
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: aqua;
    height: 100%;

}
.bisque{
    background-color: bisque;
    vertical-align: middle;
}
main{
    position: relative;
    width: 100%;
}
article{
    background-color: darkgrey;
    margin-left: 200px;
}
footer{
    background-color: forestgreen;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 70px;
    width: 100%;
}