*{
    margin: 0;
}

nav{
    display: flex;
    align-items: center;
    background-color: bisque;
    width: 600px;
    height: 100px;
    flex-grow: 0;
    flex-shrink: 0;
}

main{
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    margin: 10px;
    border: 1px solid black;
}
article{
    background-color: darkgrey;
    margin: 0 5px; 
}

@media screen and (max-width: 800px) {
main{
    flex-direction: column;
}
nav{
    width: 150px;
    height: 100px;
}
article{
    width: 100%;
    margin: 0;
}

}