*{
    margin: 0;
}
header{
    background-color: #EAEAEA;
    padding-bottom: 40px;
}
span {
    color: red;
    font-style: italic;
}
aside{
    width: 200px;
    height: 100%;
    float: left;
    left: 0;
    background-color: #c8fc98; 

}
main{
    font-size: 18.5px;
}
footer{
    display: block;
    width: 100%;
    padding: 10px 0;
    background-color: black;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
}
a{
    color: yellow;
}